build/
build-*/
out/
cmake-build-*/
_build/
.cmake/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

*.sys
*.pdb
*.map
*.exp
*.ilk
*.lib
*.dll
*.exe

*.obj
*.o
*.res

*.inf

*.cer
*.pfx
*.pvk
*.cat

sdv-map.h
sdv-user.sdv
*.sdv
staticdv.job
refine.sdv

*.DVL.XML
DVL*.xml
CodeQL/

*.vcxproj.user
vc.db
*.VC.db
*.VC.opendb

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsp
*.vspx
*.psess

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.pidb
*.sdf
*.opensdf
ipch/

TestResults/
*.trx
*.coverage
*.coveragexml

.idea/
*.iml
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/

.vscode/
!.vscode/extensions.json
!.vscode/settings.json.tpl

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

*~
*.swp
*.swo
*.tmp
*.bak
*.orig
*.patch
\#*\#
.\#*

*.log
*.tlog

*.zip
*.tar
*.tar.gz
*.7z
*.cab
*.msi
*.msm
*.msp

.env
.env.local
secrets.cmake
local.cmake
LocalConfig.cmake